body {
    background-color:lightgray;
}
ul{
    float:right;
    list-style-type:none;
}

li{
    
}

#box {
    background-color: white;
    color: black;
    display: block;
    width: 700px;
    height: 250px;
    padding: 50px;
    position: fixed;
    top: 20%;
    left: 50%;
    margin-top: -50px;
    margin-left: -400px;
}

#box1{
    display:block;
    float:left;
}

img{
    width:25%;
    height:50%;
    float:left;
    padding: 10px;
}

